@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>FoodBankMelbourne</h1>
    <p class="lead">
        Want to have some food in Melbourne but don’t know the restaurant where to start? Explore food restaurants which are nearby you and book for your important events.
    </p>
    <p><a href="@Url.Action("About", "Home")" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div>
<img srcset="~/Images/m320w254h.png 320w,
     ~/Images/m480w254h.png 480w,
     ~/Images/m720w254h.png 720w,
     ~/Images/m940w254h.png 940w,
     ~/Images/m1140w254h.png 1180"
     sizes="(max-width: 319px) 318px,
     (max-width: 479px) 320px,
     (max-width: 719px) 480px,
     (max-width: 939px) 720px,
     (max-width: 1139px) 940px,
     1140px"
     src="~/Images/m1140w254h.png" alt="A Typecal Resturent">
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Check For Restaurant Locations</h2>
        <p>
            There are more then 4000 Restaurants are there, Look for the location of each of them.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Res_Location")">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Book For Restaurant</h2>
        <p>Start Booking for any Restaurant in Melbourne for your special Occation</p>
        <p><a class="btn btn-default" href="@Url.Action("Create", "Cust_Booking")">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Write Comment About a Restaurants</h2>
        <p>Review Rate and write about your experience in a Melbourne Restaurant.</p>
        <p><a class="btn btn-default" href="@Url.Action("Create", "Res_Comments")">Learn more &raquo;</a></p>
    </div>
</div>