@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>FoodBank Melbourne</h1>
    <p class="lead">Want to have some food in Melbourne but don’t know the restaurant where to start? Explore food restaurants which are nearby you and book for your important events</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Why us</h2>
        <p>
            : Melbourne is one of the major cities of tourist attraction of Australia
            and in the world. In Melbourne there are about 4620 restaurants1
            . The density of food
            places in major area’s like CBD, Docklands, Flinders Street etc. is high so people get
            easily confused which restaurant or café suits their preference. FoodBank Melbourne
            is a unique and effective web application for the restaurant goers of Melbourne that
            solve this issue by providing restaurants’ information to customer about type of
            service, menu, seat location (Indoor seat or outdoor seat) and numbers of seats
            available. Customers also can reserve booking for any of their life events.
            Furthermore, this web application will help the restaurant owners to look for their
            potential customers, will look for their review and will help to maintain their menu
            according to the customers need. Customers on the other hand can review with ratings
            and see the reviews of other customers, comment about their restaurants’ food
            experience and rate the overall service about the restaurant. These feedbacks of the
            customers can help restaurant owners to come up with more customer friendly food
            service experience
        </p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
    @*</div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>*@
    </div>
</div>